<div class="jumbotron bg-light-gray container">
  <h1 class="display-4">The Dashboard</h1>
  <p class="lead">Data of Period: 2015</p>
  <hr class="my-4" />
  <p>Select the State</p>
  <div class="input-group w-50">
    <select class="custom-select" #state >
      <option selected>Choose...</option>
      <option *ngFor="let item of statelist" value="{{item}}">{{item}}</option>
    </select>
    <div class="input-group-append  ">
      <button class="btn btn-outline-dark" (click)="getstate(state.value)" type="button">Get Details</button>
    </div>
  </div>
</div>
<div class="container" *ngIf="selectedState !==''">
  <app-displaydata [selectedstate]="selectedState"></app-displaydata>
</div>
